.ellipses {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;


}

.ellipse {
  height: 588px;
  width: 588px;
  border-radius: 20rem;
  position: absolute;
}

.ellipse1 {
  background: #97ACFD;
  bottom: -55%;
  right: -20%;

}

.ellipse2 {
  background: #E297FD;
  top: -50%;
  right: -20%;

}

.ellipse3 {
  background: #E297FD;
  bottom: -50%;
  left: -20%;

}

.ellipse4 {
  background: #97ACFD;
  top: -45%;
  left: -20%;

}

.glass {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}