<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
<h2>User Login Form</h2>
<form action="#" th:action="@{/auth/v1/login}" th:object="${loginBody}" method="post">
    <div>
        <label for="username">username:</label><br>
        <input type="text" id="username" th:field="*{username}" required><br>
    </div>

    <div>
        <label for="password">password:</label><br>
        <input type="password" id="password" th:field="*{password}" required><br>
    </div>

    <div>
        <input type="submit" value="Login">
    </div>
</form>
</body>
</html>
